---
---
<div class="row">
  <div class="col-sm-10">
    <!-- Title -->
    <div class="title">{{ entry.title }}</div>
    <!-- Author -->
    <div class="author">
      {%- for author in entry.author_array -%}
        {%- if forloop.length > 1 -%}
          {%- if forloop.last -%}
            and
          {%- else -%}
            {%- unless forloop.first -%}
              ,
            {%- endunless -%}
          {%- endif -%}
        {%- endif -%}
        {{- author.first }} {{ author.last -}}
      {%- endfor -%}
    </div>

    <!-- Journal/Book title and date -->
    <div class="periodical">
      <em>{{ entry.journal }}</em>, {{ entry.year }}
    </div>
    {% if entry.note %}
    <div class="periodical">
      {{ entry.note }}
    </div>
    {% endif %}

    <!-- Links/Buttons -->
    <div class="links">
      {% if entry.doi %}
        <a href="https://doi.org/{{ entry.doi }}" class="btn btn-sm z-depth-0" role="button">DOI</a>
      {% endif %}
      {% if entry.arxiv %}
        <a href="http://arxiv.org/abs/{{ entry.arxiv }}" class="btn btn-sm z-depth-0" role="button">arXiv</a>
      {% endif %}
    </div>
  </div>
</div>
